*{
	margin:0;
}
#wrapper{
	width: 99vw;
	text-align: center;
}
#songTitle{
	font-size: 2em;
	font-weight: bold; 
	height: 4em;
	width: 1px;
	margin:10% auto;
	position: relative;
	animation-name: rotation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
.titleWrapper{
	text-align: left;
}
#play{
	width: 15vw;
	height: 12vh;
	margin-top:5%; 
}
#pause{
	width: 15vw;
	height: 12vh;
	margin-top:5%; 
}
#next{
	width: 15vw;
	height: 12vh;
	margin-top:5%; 
}
#shuffle{
	width: 15vw;
	height: 12vh;
	margin-top:5%; 
}
.extra{
	margin-top: 5%;
}
.test{
	margin-top: 5%;
}
#songList{
	font-size: 2em;
	height: 30vh;
	width: 100%;
}
.list{
	width: 15vw;
	height: 12vh;
	margin-top:5%; 
}
#isShuffleOn{
	margin-top: 5%;
}
@keyframes rotation{
    0% {margin-right: 1%;}
    25%{margin-right: 50%}
    50% {margin-right: 100%;}
    75%{margin-right: 50%;}
    100%{margin-right: 1%;}
}